<%- include('../partials/header') %>
<%- include('../partials/post_nav', {pub: false}) %>

<div class="conatiner">
    applications.forEach(app => {
        
    })
</div>

<%- include('../partials/header') %>