.heading {
    width: fit-content;
    margin: auto;
    text-align: center;
}
.cap {
    text-transform: capitalize;
}
.grey {
    color: #666;
}
.line {
    padding: 0;
    margin-bottom: 4px;
}
.right-row {
    margin: 5px auto 20px;
}
.resume-container {
    padding: 48px 72px;
    border: 1px solid #EEE;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 940px;
    margin: 0 auto;
}
.icon-section {
    float: right;
}
.icon-section .icon {
    color: #666a;
    text-decoration: none;
    font-size: 19px;
    font-weight: 100;
}
.edit-icon {
    margin-right: 16px;
}
.add-more {
    color: #008DBC;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    display: block;
}
.edu-items {
    display: block;
    margin-bottom: 15px;
}
.add-more.edu-items {
    margin-left: 0;
}
.close span {
    float: right;
    margin-right: 20px;
    margin: 10px 25px;
}
.submit-btn {
    float: right;
    margin-bottom: 5px;
    padding: 8px 22px;
}
.toast {
    position: absolute;
    top:100px;
    left: 45%;


}
.toast-success {
    color: #155724;
    background-color: #6fff8f;
    border: 1px solid #9bfab1;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp !important;
  animation-duration: 2000;
}
.modal-header {
    margin-top: -30px;
}
.lottie-animate {
    width: 300px; 
    height: 300px;
    margin: -30px auto;
}.label_hint {
    font-size: 12px !important;
    color: #8A8A8A;
    font-weight: 400;
    display: inline-block;
    text-align: justify;
}
.modal-dialog {
    max-width: 648px;
}
.form-check-input {
    margin-left: .25rem;
}
.form-check-label {
    margin-left: 1.25rem;
}
.half {
    max-width: 49%;
    display: inline-block;
}
.half:nth-child(2n+1) {
    padding-left: 0;
}
.skill-item {
    margin: 0 0 5px 0;
}
a.add-more {
    display: inline-block;
    margin-right: 20%;
}
a.add-more:hover {
    color: #008DBC;
    text-decoration: none;
}
.round_tabs_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.round_tabs {
    background: #F8F8F8;
    color: #666;
    padding: 6px 12px;
    border-radius: 14px;
    margin-right: 16px;
    margin-bottom: 8px;
    line-height: 16px;
}

.user-icon {
    text-align: center;
    height: 24px;
    width: 24px;
    font-size: 12px;
    border-radius: 50%;
    border: 1.25px solid #666;
    display: inline-block;
    padding-top: 2px;
    margin-top: -.5px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bolder;
}
nav.navbar {
    height: 72px;
    justify-content: center;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    margin-bottom: 2px;
}
.navbar li.nav-item {
    margin: auto;
}
.navbar .btn {
    padding: 7px 16px;
    font-weight: 600;
    min-width: 80px;
    line-height: 1.14285714;
    font-size: 14px;
}
.btn.login {
    margin: auto 16px;
}
a.nav-link {
    padding: 8px 16px !important;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    height: 100%;
    display: flex;
    align-items: center;
    color: #484848 !important;
    font-weight: 500;
}
.internship-box {
    background: #fff;
    padding: 23px;
    margin-bottom: 24px;
    border: 1px solid #EEE;
    box-shadow: 0 1px 2px rgba(0,0,0,.08);
    border-radius: 6px;
}
.content {
    background-color: #fff;
    padding: 48px 62px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 48px auto;
    max-width: 940px;
}
#search-form label {
    font-weight: 500;
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
    display: block;
}



  .flex-row {
    justify-content: space-between;
  }
  .switch_container {
    margin-right: 3px;
    height: 16px;
    position: relative;
    margin-top: 5px;
  }
  .switch_container input[type=checkbox] {
    width: 27px;
    height: 12px;
    position: absolute;
    opacity: 0;
    top: 2.5px;
    left: 0;
    margin: 0;
}
.switch_container input[type=checkbox]+label {
    color: #484848;
    line-height: 1.14285714;
    padding-left: 24px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
}
.switch_container input[type=checkbox]+label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 27px;
    height: 12px;
    background-color: #BBB;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.switch_container input[type=checkbox]+label::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -4px;
    top: -2px;
    background-color: #666;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.switch_container input[type=checkbox]:checked+label::before {
    background-color: #8FEAFE;
}
.switch_container input[type=checkbox]:checked+label::after {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: #006BC2;
    left: -11px;
}

.dropdown.bootstrap-select {
    width: 100% !important;
}
#search-form .switch_container {
    float: right;
}
.filter-icon::before {
    content: "\e90a";
}
.reset-link-wrapper {
    text-align: right;
}
#reset-link {
    margin-right: 8px;
    color: #007bff;
    cursor: pointer;
}
#login-modal .modal-dialog {
    max-width: 400px;
}
.dropdown-hover:hover .dropdown-menu {
    display: block;
    margin-top: -2px;
    left: unset;
    right: 0;
    width: 264px;
}
.navbar{
    padding: 0;
}
.collapse, .navbar .container, .navbar .navbar-nav  {
    height: 100%;
}
.profile-container {
    padding: 16px;
    border-bottom: 1px solid #EEE;
}
.profile-container .profile_name {
    font-weight: bold;
    text-transform: capitalize;
}
#res_container {
    display: block !important;
    margin-bottom: 9px;
}
.center {
    text-align: center;
}
.content-lite {
    max-width: 940px;
    margin: 48px auto;
}
.label_faded {
    display: block;
    color: #8A8A8A;
    font-weight: 400;
    margin-bottom: 8px;
}
.box {
    margin: 48px auto;
}
textarea.form-control {
    resize: none;
    height: 200px;
}
#application-questions .form-group {
    padding: 24px 0;
}
.bg-gold {
    background-color: #ffefc0;
    color: #945E12;
    font-weight: 500;
    padding: 8px 16px;
    margin: auto;
}
.bg-lightgrey{
    background-color: #e8e8e8;
    color: #333;
}

.home-banner {
    background-image: url(/static/img/home_internships.png);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 60px 200px;
}
.home-banner h3 {
    margin-bottom: 24px;
}
.home-banner div {
    margin: 6px auto;
    font-size: 1.2rem;
    font-weight: 500;
}
.home-banner a {
    bottom: 0;
}
.home-banner a:hover {
    text-decoration: none;
}
#banner-h img {
    margin: auto;
    height: 450px;
    width: 90%;
}
 

.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #d5122f;
    border: 0;
    background: none;
    z-index: 1;
}

.slick-prev {
    left: 80px;
}


.slick-next {
    right: 80px;
    text-align: right;
}


.slick-prev:hover:before,
.slick-next:hover:before {
    color: #4e4e4e;
}

.slick-prev:before, .slick-next:before {
    font-size: 32px;
    color: #7e7e7e;
}
.separator:after, .separator:before {
    position: relative;
    content: '';
    left: 0px;
    top: 6px;
    width: 20px;
    height: 2px;
    background-color: #0b557e;
}
.dott {
    position: relative;
    width: 6px;
    height: 6px;
    top: -9px;
    border-radius: 50%;
    display: inline-block;
    background-color: #0b557e;
}
.text-blue {
    color: #0b557e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
footer {
    background-color: dimgray;
    padding: 80px 120px 30px;
    font-size: 1.1rem;
    font-weight: 400;
    color: snow;
}
footer a {
    color: snow;
}
footer a:hover {
    text-decoration: none;
    color: #eee;
}
footer svg {
    margin-right: 14px;
}
#register, #login {
    background-image: url(/static/img/background-register.png);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 200px;
}
#register .home-banner, #login .home-banner {
    background-image: none;
    padding: 30px 0;
}
#register .content, #login .content {
    margin: 0 auto;
    height: fit-content;
}
.brand-name {
    margin: auto;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1A237E;
    padding-left: 24px;
}
.mytoast {
    display: flex;
    right: 0;
    position: fixed;
    width: 600px;
}
#internship-container {
    padding-top: 48px;
}
#internship-container .row {
    margin: 32px auto;
}

@media only screen and (max-width: 576px) {
    footer {
        padding: 72px 32px 36px;
    }
    footer img {
        width: 80%;
    }
    footer div.row div {
        padding-bottom: 16px;
    }
    footer iframe {
      height: 250px;  
    }
    footer div.d-flex.font-weight-light {
        font-size: 12px;
    }
    footer br {
        display: none;
    }
    #banner-h img {
        height: 145px;
    }
    #about.content {
        margin-top: 0;
    }
    .home-banner, #login, #register {
        padding: 32px 24px;
    }
    .navbar div {
        background-color: white;
        z-index: 5;
    }
    .nav-item {
        margin: 8px auto !important;
        height: 30px;
    }
    #internship-container {
        padding-top: 0;
    }
    #internship-container .row .col-sm-4.sticky-top {
        position: relative;
        z-index: 1;
    }
    #internship-container .row .col-sm-4.sticky-top .internship-box {
        margin-top: 12 !important;
    } 
    #all_internships {
        margin: 0;
    }
    #login .home-banner {
        height: auto;
    }
    #login, #register {
        padding-bottom: 57px;
    }
    .navbar-brand img {
        width:72px;
        height: 64px;
    }
    .brand-name {
        font-size: 1.4rem;
        padding-left: 12px;
    }
    .slick-prev{
        left:15px;
    }
    .slick-next{
        right:25px;
    }
    #register .content, #login .content {
        padding: 32px 22px;
    }
}