<form id="additional_form">
    <div class="form-row">
    <div class="form-group col-12">
        <label for="detail">If you would like to mention anything else in your resume, please add here </label>
        <textarea class="form-control" name="detail" id="" placeholder="Add details here....." cols="5" rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-primary submit-btn" value="">Save</button>
    </div>
</form>