<form id="responsibility_form">
    <div class="form-row">
    <div class="form-group col-12">
        <label for="desc">Description </label>
        <textarea class="form-control" name="desc" id="" placeholder="Short description of work done....." cols="5" rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-primary submit-btn" value="">Save</button>
    </div>
</form>