<form onsubmit="formSubmit(event)" id="sample_form">
    <div class="form-row">
        <div class="form-group col-12">
            <label for="blog">Blog link</label>
            <input type="text" class="form-control" name="blog" id="" placeholder="e.g. http://myblog.com">
        </div>
        <div class="form-group col-12">
            <label for="github">GitHub profile</label>
            <input type="text" class="form-control" name="github" id="" placeholder="e.g. http://github.com/my_profile">
        </div>
        <div class="form-group col-12">
            <label for="playstore">Play store developer A/c (public link)</label>
            <input type="text" class="form-control" name="playstore" id="" placeholder="e.g. http://play.google.com/store/apps/developer?id=myapps">
        </div>
        <div class="form-group col-12">
            <label for="behance">Behance portfolio link</label>
            <input type="text" class="form-control" name="behance" id="" placeholder="e.g. http://behance.net/my_profile">
        </div>
        <div class="form-group col-12">
            <label for="other">Other portfolio link</label>
            <input type="text" class="form-control" name="other" id="" placeholder="e.g. http://myportfolio.com">
        </div>
        
        <button type="submit" class="btn btn-primary submit-btn" value="">Save</button>
    </div>
</form>